<link rel="stylesheet" href="style.css" type="text/css" />
<div style="display:none"> <!-- Erasing this just causes the page to break, but I don't want it visible.-->
    <div class=emscripten id=status>Downloading...</div>
    <div class=emscripten>
        <progress hidden id=progress max=100 value=0></progress>
    </div>
    <div class=emscripten_border>
        <canvas class=emscripten id=canvas oncontextmenu=event.preventDefault() tabindex=-1></canvas>
    </div>
</div>
<div class="startform container">
    <input class="startform easymode" type="checkbox" />
    <label>Easy Mode</label>
    <br />
    <input class="startform bonuswords" type="checkbox" />
    <label>Show Bonus Words</label>
    <br />
    <input class="startform swearwords" type="checkbox" />
    <label>Omit Swear Words</label>
    <br />
    <input class="startform seed" placeholder="Seed, e.g. 12345" />
    <br />
    <input class="startform wordlimit" placeholder="word limit" />
    <br />
    <input class="startform generate" type="button" value="Generate Puzzle" />
    <input class="startform help" type="button" value="Show Help" />
</div>
<textarea id=output cols=80 rows=35></textarea>

<script>var statusElement=document.getElementById("status"),progressElement=document.getElementById("progress"),spinnerElement=document.getElementById("spinner"),Module={print:function(){var e=document.getElementById("output");return e&&(e.value=""),(...t)=>{var n=t.join(" ");console.log(n),e&&(e.value+=n+"\n",e.scrollTop=e.scrollHeight)}}(),canvas:(()=>{var e=document.getElementById("canvas");return e.addEventListener("webglcontextlost",(e=>{alert("WebGL context lost. You will need to reload the page."),e.preventDefault()}),!1),e})(),setStatus:e=>{if(Module.setStatus.last||(Module.setStatus.last={time:Date.now(),text:""}),e!==Module.setStatus.last.text){var t=e.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/),n=Date.now();t&&n-Module.setStatus.last.time<30||(Module.setStatus.last.time=n,Module.setStatus.last.text=e,t?(e=t[1],progressElement.value=100*parseInt(t[2]),progressElement.max=100*parseInt(t[4]),progressElement.hidden=!1,spinnerElement.hidden=!1):(progressElement.value=null,progressElement.max=null,progressElement.hidden=!0,e||(spinnerElement.style.display="none")),statusElement.innerHTML=e)}},totalDependencies:0,monitorRunDependencies:e=>{this.totalDependencies=Math.max(this.totalDependencies,e),Module.setStatus(e?"Preparing... ("+(this.totalDependencies-e)+"/"+this.totalDependencies+")":"All downloads complete.")}};Module.setStatus("Downloading..."),window.onerror=e=>{Module.setStatus("Exception thrown, see JavaScript console"),spinnerElement.style.display="none",Module.setStatus=e=>{e&&console.error("[post-exception status] "+e)}}</script>
<script async src=tws.js></script>
<script src="call.js"></script>
