*{
    padding: 0;
    margin: 0;
}

body, .startform.container, textarea {
    background: #111;
    color: #eee;
}

input.startform {
    background: #eee;
    color: #111;
    border: 1px solid #777;
    outline: none;
    padding: 5px 10px;
}

input[type=button].startform:hover {
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
}

textarea {
    border: none;
    outline: none;
}
